@charset "UTF-8";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
	text-decoration: none;
}
html,bodys{
   width:100%;
   height:100%;
}
#wrap {
	background:#fff; 
	position:relative;
	width:100%;
}
#container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#header{
    /* 헤더영역: 로고 커뮤니티 링크 */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(207 207 207);
}
#header > div{
	width: 88%;
    line-height: 100px;
}
#header > div > p > a{
    float: left;
    font-size: 3rem;
    font-weight: bolder;
    color: #5F6368;
}
#header > div > span{
    margin-left: 10px;
    font-size: 1.5rem;
    color: #5F6368;
}
#header > div > ul{
    float: right;
    display: flex;
	list-style-type: none;
}
#header > div > ul >li{
	margin: 0 10px;	
}
#section{
	width: 70%;
    margin-top: 30px;	
}
#section_Con > form{
	width: 100%;	
}
#section_Con{
	width: 100%;
}
.section_Con_Select > select{
	width:30%;
	height: 40px;	
	margin-left:100px;
	border: 1px solid rgba(207 207 207);
	color: #646464;
	padding:3px;
}
.section_Con_Input{
	width:100%;
	display: flex;
	justify-content: center;
    align-items: center;
	margin: 10px 0;
}
.section_Con_Input:first-child > select{
	width: 80%;
	height: 40px;
	border: 1px solid rgba(207 207 207);
	padding:10px;
	cursor: pointer;
	color: #646464;
	
} 
input[type="text"]{
	width: 80%;
	height: 40px;
	border: 1px solid rgba(207 207 207);
	padding:10px;
}
input[type="button"]{
	width: 200px;
	height: 40px;
	display:block;
	text-align:center;
	line-height:40px;
	text-decoration: none;
	font-size: 1.2rem;
	color: black;
	border: 1px solid rgba(207 207 207);
	background-color: white;
	cursor: pointer;
}
textarea{
	width: 80%;
	height: 500px;
	border: 1px solid rgba(207 207 207);
	padding: 10px;
}
#article2{
	height: 50px;
	display: flex;
	justify-content: flex-end;
	margin-right: 80px;
}
#article2 > div{
	margin:10px;
	
}
#article2 > div > a{
	width: 200px;
	height: 40px;
	display:block;
	text-align:center;
	line-height:40px;
	text-decoration: none;
	font-size: 1.2rem;
	color: black;
	border: 1px solid rgba(207 207 207);
	
} 
#pageNation{
    width: 88%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    background-color: #3D434D;
}
.a11y_menu {
	display:block; 
	position:fixed; 
	right:0; 
	top:180px;
	width:150px; 
	background:none;
	z-index:10001;}
   
.blind{
	height:50px; 
	width:143px; 
	display: flex;
	align-items:center;
	cursor: pointer;
	border-bottom: 1px solid #e8e8e8; 
}
.blind > span > i{
	font-size: 0.9rem;
	margin-left: 15px;
}
.a11y_menu ul li span{
	padding: 10px;
}   
.a11y_menu ul{
	list-style-type: none;
	cursor: pointer;	
}
.a11y_menu button {
	border:0; 
	background:#f5f7f7; 
	height:50px; 
	width:143px; 
	color:#4b5056; 
	font-size:15px; 
	text-align:left; 
	border-bottom:1px solid #e8e8e8; 
}
.a11y_menu button:hover {
	border: 1px solid #e8e8e8; 
}
.a11y_menu button.active {
	border: 1px solid #e8e8e8;
}   
html.invert {
	-webkit-filter: invert();
	filter: progid:DXImageTransform.Microsoft.BasicImage(invert=1);
	-ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(invert=1)';
}
.magnify_area {
	position:absolute; 
	top:0; 
	left:0; 
	display:none; 
	z-index:10000;
}
#magnify {
	display:none; 
	background:#fff;
} 
.magnify_lense {
	position:absolute; 
	width:230px; 
	height:230px; 
	border-radius:100%; 
	box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),  0 0 5px 7px rgba(0, 0, 0, 0.25),  inset 0 0 5px 1px rgba(0, 0, 0, 0.25); 
	background-color:#fff; 
	display:none;
}
html.invert {
	-webkit-filter: invert(); /* WebKit */
	filter: progid:DXImageTransform.Microsoft.BasicImage(invert=1);/* IE 6-7 */
	-ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(invert=1)';/* IE 8 */
}