@charset "UTF-8";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
	text-decoration: none;
}
html,bodys{
   width:100%;
   height:100%;
}
#wrap {
	background:#fff; 
	position:relative;
	width:100%;
}
#container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#header{
    /* 헤더영역: 로고 커뮤니티 링크 */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header > div{
	width: 88%;
    line-height: 100px;
}
#header > div > p > a{
    float: left;
    font-size: 3rem;
    font-weight: bolder;
    color: #5F6368;
}
#header > div > span{
    margin-left: 10px;
    font-size: 1.5rem;
    color: #5F6368;
}
#header > div > ul{
    float: right;
    display: flex;
	list-style-type: none;
}
#header > div > ul >li{
	margin: 0 10px;	
}

#article{
    /* article:검색 타이틀 */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#article > div{
    width: 88%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#article > div > h1{
    font-size: 3rem;
    color: #1A1A1A; 

}
#article-search{
    width: 30%;
}
#article-serch-wrap{
	width: 100%;
    height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius:100px;
	border: 1px solid rgba(207 207 207);
}
#article-search > div > input[type="text"]{
    width: 55%;
    height: 50px;
    padding: 20px;
    font-size: 1.5rem;
    border: 1px solid rgba(207 207 207);
	border-left: none;
	border-right: none;
}
#article-search > div > button{
    width: 13%;
    height: 44px;
    border-radius: 100%;
    border: none;
    cursor: pointer;	
}
select:focus{
	outline: none;
}
#article-search > div > select{
	width: 27%;
	height: 35px;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 1.2rem;
	
}
button > i{
	font-size: 1.3rem;
}
#section{
    width: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section > table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
thead{
	border-bottom: 3px solid rgba(207 207 207);
}
thead > tr > th{
	font-size: 1.8rem;
	padding: 15px;
}
tbody > tr > td{
	font-size: 1.4rem;
	border-bottom: 1px solid #D5D5D5;
	padding: 15px;
	
}
.table_no{
	width: 7%;
}
.table_cate{
	width: 13%;
}
.table_title{
	width: 40%;
}
.table_writer{
	width: 15%;
}
.table_regdate{
	width: 25%;
}
#article2{
	width: 88%;
	height: 50px;
	margin-top:10px;
}
#article2 > div{
	float: right;
	
}
#article2 > div > a{
	width: 200px;
	height: 40px;
	display:block;
	text-align:center;
	line-height:40px;
	text-decoration: none;
	font-size: 1.2rem;
	color: black;
	border: 1px solid rgba(207 207 207);
	
}
#pageNation{
    width: 88%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageInfo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.pageInfo a{
    color: #5F6368;
    font-size:1.6rem;
    margin: 0 5px;
}
.pageInfo_btn.active{
	border-bottom:1px solid #000;
}

#footer{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    background-color: #3D434D;
}
.a11y_menu {
	display:block; 
	position:fixed; 
	right:0; 
	top:180px;
	width:150px; 
	background:none;
	z-index:10001;}
   
.blind{
	height:50px; 
	width:143px; 
	display: flex;
	align-items:center;
	cursor: pointer;
	border-bottom: 1px solid #e8e8e8; 
}
.blind > span > i{
	font-size: 0.9rem;
	margin-left: 15px;
}   
.a11y_menu ul{
	list-style-type: none;
	cursor: pointer;	
}
.a11y_menu ul li span{
	padding: 10px;
}
.a11y_menu button {
	border:0; 
	background:#f5f7f7; 
	height:50px; 
	width:143px; 
	color:#4b5056; 
	font-size:15px; 
	text-align:left; 
	border-bottom:1px solid #e8e8e8; 
}
.a11y_menu button:hover {
	border: 1px solid #e8e8e8; 
}
.a11y_menu button.active {
	border: 1px solid #e8e8e8;
}   
html.invert {
	-webkit-filter: invert();
	filter: progid:DXImageTransform.Microsoft.BasicImage(invert=1);
	-ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(invert=1)';
}
.magnify_area {
	position:absolute; 
	top:0; 
	left:0; 
	display:none; 
	z-index:10000;
}
#magnify {
	display:none; 
	background:#fff;
} 
.magnify_lense {
	position:absolute; 
	width:230px; 
	height:230px; 
	border-radius:100%; 
	box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),  0 0 5px 7px rgba(0, 0, 0, 0.25),  inset 0 0 5px 1px rgba(0, 0, 0, 0.25); 
	background-color:#fff; 
	display:none;
}
html.invert {
	-webkit-filter: invert(); /* WebKit */
	filter: progid:DXImageTransform.Microsoft.BasicImage(invert=1);/* IE 6-7 */
	-ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(invert=1)';/* IE 8 */
}