* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
}

a{
    text-decoration: none;
    color: black;
}

.container{
    width: 100vw;
    height: 100vh;
}

.top-menu{
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 100%;
    flex-grow: 1;
}

.logo img{
    height: 200px;
    margin-left: 30px;
    margin-top : 100px;
    padding: 15px;
    width:200px;
}

.regist{
    width: 100%;
    flex-grow: 1;
    text-align: right;
    margin-right: 50px;
    font-weight: bold;
    font-size: 1.5rem;
}


.header{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_text , .header_text2{
    font-size: 3.2rem;
    margin: 30px;
    text-align: center;
}

.header_text{
    color: orangered;
    text-shadow: 5px 5px 80px red;
    position: relative;
    right: -200px;
    bottom:-50px
}

.header_text2{
    color: #009e73;
    text-shadow: 5px 5px 70px #009e73;
    position: relative;
    left: -200px;
    bottom:-50px
}

.main{
    width: 100vw;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row-first{
    display: flex;
}

.row-second{
    display: flex;
}

.menu1, .menu2, .menu3, .menu4{
    width: 500px;
    height: 200px;
    background-color: white;
    margin: 2px;
    border-radius: 5px;
    text-align: center;
    font-size: 4rem;
    line-height: 200px;
    font-weight: bold;
}

.menu1{
    background-color: purple;
}

.menu2{
    background-color: #009e73;
}

.menu3{
    background-color: olive;
}

.menu4{
    background-color: #fff333;
}

.main_image {
}