*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,bodys{
   width:100%;
   height:100%;
}
a{
    text-decoration: none;
}
#wrap {
	background:#fff; 
	position:relative;
	width:100%;
}
#container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header{
    /* 헤더 */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header > div{
	width: 88%;
	display: flex;
	justify-content: space-between;
}

#header > div > p > a{
    font-size: 3rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    color: #5F6368;
}
#header > div > ul{
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}
#header > div > ul >li{
	margin: 0 10px;	
}

#category{
    /* 카테고리 시작 */
    width: 100%;
    height: 300px;
    border-top: 1px solid #DADADA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category_Con{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.category_Ele{
    width: 150px;
    height: 150px;
    margin: 0 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
}

.category_Ele > label > a > i{
    font-size: 3.8rem;
    margin-bottom: 15px;
    color: #5F6368;
}

.label1 > a{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category_Ele > label > a > span{
    font-size: 1.8rem;
    color: #5F6368;
    padding: 5px;
}

input[type = radio]{
  	display:none;
}

.category_Ele:hover > label > i{
/* 카테고리 호버 */
    color: #000;
}

.category_Ele:hover > label > span{
    color: #000;
    border-bottom: 3px solid #000;
}

.category_Con2{
    width: 88%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category_Con2 > ul{
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 20px 0;
}

.category_Ele2{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
	margin-right: 10px;
}
.category_Ele2 > button{
	width: 160px;
	height: 50px;
	border-radius: 50px;
	display:flex;
	align-items:center;
	justify-content:center;
	border: 1px solid rgba(207 207 207);
	background-color: white;
}

.btnActive.active {
/* 카테고리 버튼클릭시 효과 */ 
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	color: #000;
	font-weight: 800;
}
.btnActive > i{
	font-size: 1.7rem;
	color: #5F6368;
	margin: 0 10px;
}
.btnActive:hover{
	transition:all 0.3s;
	transform:scale(1.03);
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	font-weight: 800;	
}
.category_area{
    width: 30%;
    height: 100px;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    margin-left: 20px;
    margin-top: 20px;
}

.category_area > p{
    font-size: 1.5rem;
    font-weight: bold;
    color:#3D434D;
    
}

.category_area > .form{
    width: 90%;
    height: 80px;
    display: flex;
    margin-top: 10px;
}
.form > select{
    width: 70%;
    height: 50px;
    background-color: #F3F5F5;
    border-radius: 5px;
    border:1px solid rgba(207 207 207);
    font-size: 1.5rem;
    color:#3D434D;
    padding: 10px;
}

#section{
/* 세션 시작 */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
}

.section_Con{
    width: 28%;
    height: 550px;
    margin: 10px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
  
}

.section_Ele_Img{
    width: 100%;
    height: 70%;
    display: block;
    position:relative;
    z-index: 1;
}

.section_Ele_Img > img{
    width: 100%;
    height: 100%;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
}

.section_Ele_Cont{
    width: 100%;
    height: 30%;
}

.section_Ele_cont_Ul1{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    list-style-type: none;  
}

.section_Ele_cont_bar{
	width:90%;
	height:1px;
	display: block;
	background-color: #DADADA;
	position:relative;
	top:15px;
	left: 15px;
}

.section_Ele_cont_Ul1 >li{
	margin-top:10px;
	padding: 3px;
}

.section_Ele_cont_Ul2{
	width: 100%;
	height: 60%;
	display: flex;
	align-items:center;
	list-style-type: none;
}

.section_Ele_cont_Ul2 > li > i{
	font-size: 3rem;
	color: #5F6368;
	margin: 0 10px;
}

.section_Ele_cont_Ul2 > li > i:hover {
	color:#000;
}

.section_Ele_Cont_Detail{
	width: 100%;
	display: none;
	flex-direction:column;
	position:relative;
	z-index:10;
	list-style-type: none;
	border-radius: 10px;
	background-color:rgba(255,255,255,0.8);
}

.section_Ele_Cont_Detail >li{
	margin: 10px 0;
}

.section_Page{
/* 페이지네이션 시작 */
    width: 800px;
    height: 100px;
    margin-top: 30px;
}

.pageInfo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.pageInfo a{
    color: #5F6368;
    font-size:1.6rem;
    margin: 0 5px;
}

.pageInfoLeg{
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.pageInfoLeg a{
    color: #5F6368;
    font-size:1.6rem;
    margin: 0 5px;
}

.pageInfoEye{
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.pageInfoEye a{
    color: #5F6368;
    font-size:1.6rem;
    margin: 0 5px;
}

.pageInfoEars{
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;	
}

.pageInfoEars a{
    color: #5F6368;
    font-size:1.6rem;
    margin: 0 5px;
}

.pageInfo_btn.active{
	border-bottom:1px solid #000;
}

#footer{
/* 풋터 */
    width: 100%;
    height: 250px;
    margin-top: 80px;
    background-color: #3D434D;
}
.a11y_menu {
	display:block; 
	position:fixed; 
	right:0; 
	top:220px;
	width:150px; 
	background:none;
	z-index:10001;
}
.blind{
	height:50px; 
	width:143px; 
	display: flex;
	align-items:center;
	cursor: pointer;
	border-bottom: 1px solid #e8e8e8; 
}
.blind > span > i{
	font-size: 0.9rem;
	margin-left: 15px;
}   
.a11y_menu ul{
	list-style-type: none;
	cursor: pointer;	
}
.a11y_menu ul li span{
	padding: 10px;
}
.a11y_menu button {
	border:0; 
	background:#f5f7f7; 
	height:50px; 
	width:143px; 
	color:#4b5056; 
	font-size:15px; 
	text-align:left; 
	border-bottom:1px solid #e8e8e8; 
}
.a11y_menu button:hover {
	border: 1px solid #e8e8e8; 
}
.a11y_menu button.active {
	border: 1px solid #e8e8e8;
}   
html.invert {
	-webkit-filter: invert();
	filter: progid:DXImageTransform.Microsoft.BasicImage(invert=1);
	-ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(invert=1)';
}
.magnify_area {
	position:absolute; 
	top:0; 
	left:0; 
	display:none; 
	z-index:10000;
}
#magnify {
	display:none; 
	background:#fff;
} 
.magnify_lense {
	position:absolute; 
	width:230px; 
	height:230px; 
	border-radius:100%; 
	box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),  0 0 5px 7px rgba(0, 0, 0, 0.25),  inset 0 0 5px 1px rgba(0, 0, 0, 0.25); 
	background-color:#fff; 
	display:none;
}
html.invert {
	-webkit-filter: invert(); /* WebKit */
	filter: progid:DXImageTransform.Microsoft.BasicImage(invert=1);/* IE 6-7 */
	-ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(invert=1)';/* IE 8 */
}
